-
  page_title = page.title || page.category || page.tag

doctype html5

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  base(href=config.baseurl)

  title= (page_title ? page_title + ' | ' : '') +  config.title

  if page.description || config.description
    meta(name='description' content=page.description || config.description)

  meta(property='og:site_name', content=config.title)

  if page.share_img || config.share_img
    meta(property='og:image', content=url_for(page.share_img || config.share_img))

  if config.twitter
    meta(name='twitter:site', content='@'+config.twitter)
  if config.twitter_card_large
    meta(name='twitter:card', content='summary_large_image')

  != css('css/style.css')
  if page.css
    != css('css/' + page.css)

body.home.page.page-id-7.page-template-default
  #page.hfeed.site

    header#masthead.site-header(role='banner')
      include _nav.pug
      //-
        #logo(style='top:80px;')
          a(href='/', title='Bitembassy TLV', rel='home')
            h2.site-title(style='color:#FFFFFF;')
              | Bitcoin emBassy TLV
              br
              span.hebrew שגרירות הביטקוין
            img(style='align:center;', src='img/logo-inverted.png', width='96', height='80')

    #main.site-main
      #primary.content-area
        != body

      #secondary.widget-area(role='complementary')
        #left-sidebar
          aside#text-7.widget.widget_text
            .textwidget
              p(style='text-align:center;') Bitembassy on Twitter
              a.twitter-timeline(href='https://twitter.com/BitcoinemBassy', data-dnt="true", data-link-color="#fcd000", data-height="395") Tweets by BitcoinemBassy
              script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
        #middle-sidebar
          aside#text-10.widget.widget_text
            .textwidget
              div(style='text-align:center;')
                h3.hebrew.center צור קשר / Reach Us
                | info@bitembassy.org #[br]
                a(href='reach-us.html#hours') Opening hours&nbsp;
                a.hebrew(href='reach-us.html#hours') שעות פתיחה #[br]
                span.hebrew אחוזת בית 1, תל אביב #[br]
                | Ahuzat Bayit St 1, Tel Aviv
                iframe(width="100%", height="260", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://www.openstreetmap.org/export/embed.html?bbox=34.77016881108285%2C32.06452328820144%2C34.77076023817063%2C32.06491595504573&amp;layer=cyclemap&amp;marker=32.064719621834314%2C34.77046452462673")
                small
                  a(href="https://www.openstreetmap.org/?mlat=32.06472&amp;mlon=34.77046#map=21/32.06472/34.77046&amp;layers=C")
                    | View Larger Map&nbsp;
                    span.hebrew הצג מפה גדולה
        #right-sidebar
          aside#text-5.widget.widget_text
            .textwidget
              p(style='text-align:center;') Bitembassy on Facebook
              iframe(src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fbitcoin.embassy.tlv&width=280&height=395&colorscheme=light&show_faces=false&header=false&stream=true&show_border=true&appId=278520728990806', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:325px; height:395px;', allowtransparency='true')

  footer#colophon.site-footer(role='contentinfo')
    .site-info
      //-
        span(style='font-size:0.75em;')
          | Exchange rate by
          a(href='http://bitcoinaverage.com/', target='blank') BitcoinAverage
        br
      |       Bitcoin emBassy TLV, Since 2013
      span.sep= ' '
      a(href='reach-us.html') Contact us
      br
      a(rel='license', href='http://creativecommons.org/licenses/by-nc/4.0/')
        img(alt='Creative Commons License', style='border-width:0;margin-top:1em;', src='https://i.creativecommons.org/l/by-nc/4.0/88x31.png')

script(src='js/jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='js/script.js')
